{% import "common.html" as macros with context %}

<!DOCTYPE html>
<html lang="en">

{{macros.head("غير مُصرح")}}

{{macros.navbar()}}

{{macros.side_menu()}}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">

      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> خطأ للوصول  </h1>
          </div> <!-- /.col -->
        </div>   <!-- /.row -->
      </div>     <!-- /.container-fluid -->
    </div>       <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">

      <section class="content">
        <div class="container-fluid">

          <div class="row">




            <h5> غير مُصرح للوصول   </h5>




          </div>
    </div> <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>


{{macros.js_scripts()}}

</body>
</html>
